@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,500&display=swap');

.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.4);
}

.player__elements {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.player__elements__element {
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 14pt;
    margin: 10px 4px;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 12px 1px 0 0;
}

.spacer {
    flex-grow: 1;
    display: inline-block;
}