@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,500&display=swap');

.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.4);
}

.player__elements {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.player__elements__button {
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 14pt;
    margin: 10px 4.5px;
}

.player__elements__time {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 12px 1px 0 0;
}

.player__elements__progress {
    display: flex;
    align-items: center;
    margin: 10px 0 11px 10px;
    flex-grow: 1;
    background-color: black;
}

.player__elements__progress__slider {
    background-color: red;
    height: 5px;
}

.player__elements__progress__dot {
    height: 8px;
    width: 8px;
    background-color: red;
    border: 4px solid rgba(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
}

.spacer {
    flex-grow: 1;
    display: inline-block;
}